@font-face {
    font-family: Orbitron;
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}
/* Headings */
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
/* Body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: "Oswald", sans-serif;
}

:root {
    /* COLORS */
    /* Primary */
    --color-primary-dark: #461E5C;
    --color-primary: #72369D;
    --color-primary-light: #9D4EDD;
    --color-primary-very-light: #B67BE6;
    --color-primary-super-light: #CEA7EE;
    /* Secondary */
    --color-secondary-dark: #F56A00;
    --color-secondary: #FA8B01;
    --color-secondary-light: #FFAD03;
    --color-secondary-very-light: #FFC243;
    --color-secondary-super-light: #FFCF70;    
    /* Linear Gradient */
    --gradient-background-dark: linear-gradient(90deg, #2a1237 0%, #461e5c 15%, #461e5c 85%, #2a1237 100%);

    /* TYPOGRAPHY */
    /* Headings */
    --h1: 5.6rem;
    --h1-line: 6.8rem;
    --h2: 3.6rem;
    --h2-line: 4.4rem;
    --h3: 2.8rem;
    --h3-line: 3.6rem;
    --h4: 2.0rem;
    --h4-line: 2.8rem;
    /* Body */
    --body-1: 1.8rem;
    --body-1-line: 2.8rem;
    --body-2: 1.6rem;
    --body-2-line: 2.4rem;
    --body-3: 1.4rem;
    --body-3-line: 2.0rem;
    --body-4: 1.2rem;
    --body-4-line: 1.6rem;

    /* SHADOWS */
    /* MARGINS */
    --margin-more-space: 4.8rem;
    --margin-small: 2rem;
    --margin-text: 0.8rem;

    /* PADDINGS */
    --padding-more-space: 4.8rem;
    --padding-sections: 2.4rem;
    --padding-text: 1.6rem;
}

/* ========================================================== */

/* ===== HEADER ===== */
header {
    background-color: var(--color-primary-dark);
    background: var(--gradient-background-dark);
    padding: var(--padding-sections);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header div {
    max-width: 144rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Image */
.header-img-container {
    min-height: 10rem;
    overflow: hidden;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header a img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* End Header Image */

h1 {
    color: var(--color-primary-super-light);
    margin-top: var(--margin-small);

    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: var(--h1);
    line-height: var(--h1-line);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

header a {
    text-decoration: none;
}

header p {
    color: var(--color-primary-super-light);
    margin-top: var(--margin-small);

    font-family: "Oswald", sans-serif;
    font-size: var(--h4);
    line-height: var(--h4-line);
    text-align: center;
}

/* ===== NAVBAR ===== */
nav {
    margin-top: var(--margin-small);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    background-color: var(--color-primary-light);
    border-radius: 1.6rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    box-shadow: rgba(50, 50, 93, 0.65) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.7) 0px 30px 60px -30px, 
    #0a254059 0px -2px 6px 0px inset;
}

.nav-outline::after, .nav-characters::after {
    content: "\f103";
    font-family: "fontawesome";
    margin-left: var(--margin-text);
}

nav li, nav a {
    color: var(--color-primary-dark);
    
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    font-size: var(--body-1);
    line-height: var(--body-1-line);
    letter-spacing: 0.1rem;
}

/* Nav a has Padding and Block, so not only text is clickable and hover changes more than text */
nav a {
    padding: var(--padding-text);
    display: block;
}

nav a:hover {
    background-color: var(--color-secondary-dark);
    cursor: pointer;
}

/* hide these ul for mobile */
.add-nav-outline, .add-nav-characters {
    display: none;
}

/* ========================================================== */
/* Media Queries */
@media (min-width: 768px) {
    /* Navbar for bigger screens in row */
    .main-nav {
        display: flex;
        flex-direction: row;
    }

    /* show the secondary menus on hover in bigger screens */
    .main-nav-outline:hover .add-nav-outline, .main-nav-characters:hover .add-nav-characters {
        background-color: var(--color-secondary-light);
        background: linear-gradient(90deg, #FA8B01 0%, #FFAD03 15%, #FFAD03 85%, #FA8B01 100%);;
        border-radius: 1.6rem;
        width: 204%;

        display: block;
        overflow: hidden;
        position: absolute;
        top: 90%;

        box-shadow: #F56A0066 0px 2px 4px, 
        #F56A004d 0px 7px 13px -3px, 
        #F56A0033 0px -3px 0px inset;
    }

    .main-nav-outline, .main-nav-characters {
        position: relative;
    }

    .add-nav-outline > li:hover, .add-nav-characters > li:hover {
        background-color: var(--color-secondary-dark);

    }
    .add-nav-outline > li:hover a, .add-nav-characters > li:hover a {
        color: var(--color-secondary-super-light);
        text-decoration: none;
    }
}